#people
  .row
    %h2 Sign in

    - form_for :session, :url => session_path do |form|
      .text_field
        = form.label :email
        = form.text_field :email
      .password_field
        = form.label :password
        = form.password_field :password
      .checkbox_field
        = form.check_box :remember_me
        = form.label :remember_me
      .submit_field
        = form.submit "Sign in", :disable_with => "Please wait..."