%div
  = form.label :title
  %div= form.text_field :title

%div
  = form.label :user_id, "User"
  %div= form.collection_select :user_id, User.all, :id, :twitter

%div
  = form.label :other_speakers
  %div= form.text_field :other_speakers

%div
  = form.label :url
  %div= form.text_field :url

%div
  = form.label :location
  %div= form.text_field :location

%div
  = form.label :date_of
  %div= form.date_select :date_of

%div
  = form.label :description
  %div= form.text_area :description
  %p.instruct
    == Format description using #{link_to 'Markdown', 'http://daringfireball.net/projects/markdown/syntax'}.

-#%div
  -#= form.label :embed
  -#%div= form.text_area :embed
