<li id="<%= presentation.id -%>" class="presentation">
  <h3>
    <div class="presentation-title">
      <%= link_to presentation.title, presentation %>
    </div>
    <span class="meta">
      <%= presentation.presenter_name %> 
      by <%= presentation.presenter_name %> 
      <% if presentation.slides_url.present? %>
        <%= link_to "Slides", presentation.slides_url, :target => "_blank" %>
      <% end %>
    </span>
  </h3>
  <%= presentation.embed_video.html_safe if presentation.video_id.present? %>
  <p><%= presentation.description %></p>
</li>
