#show
  .ribbon
    .row
      .crud
        %p= link_to 'Edit', edit_presentation_url(@presentation)
      %h2= link_to @presentation.title
      %p= "Presented by #{@presentation.presenter} at #{@presentation.location}"

