%div
  = form.label :title, "Job title"
  %div= form.text_field :title

%div
  = form.label :location
  %div= form.text_field :location

%div
  = form.label :organization
  %div= form.text_field :organization

%div
  = form.label :email, "Contact email"
  %div= form.text_field :email

%div
  = form.label :description
  %div= form.text_area :description
  %p.instruct
    == Format description using #{link_to 'Markdown', 'http://daringfireball.net/projects/markdown/syntax'}.

