%dl
  %dt Job title
  %dd= form.text_field :title, :size => 35

  %dt Location
  %dd= form.text_field :location, :size => 35

  %dt Organization
  %dd= form.text_field :organization, :size => 35

%dl
  %dt Contact email
  %dd= form.text_field :email, :size => 25

  %dt Description
  %dd
    ~ form.text_area :description, { :class => 'job_description' }
    %br/
    = link_to 'The description is Markdown-enabled', 'http://daringfireball.net/projects/markdown/syntax'

