#edit
  .ribbon
    .row
      %h2 Account
      = error_messages_for :user

      - form_for setup_user(@user) do |user_form|
        .fieldset
          %div
            = user_form.label :email
            %div= user_form.text_field :email

          %div
            = user_form.label :twitter
            %div
              = user_form.text_field :twitter
              %p.instruct Please use only your twitter username, for example: bostonrb

          %div
            = user_form.label :github
            %div= user_form.text_field :github

          %div
            = user_form.label :company_id, "Company"
            %div= user_form.select :company_id, companies_select_options, :include_blank => true

          - user_form.fields_for :feed do |feed_form|
            %div
              = feed_form.label :feed_url, "Blog Feed URL"
              %div= feed_form.text_field :feed_url

          .buttons
            = user_form.submit 'Update', :disable_with => 'Please wait...'

