= partial 'layouts/left_half' do
  %h2 Videos
  %p We often record the talks from our monthly meetings. In case you missed one, you might be able to find it here.
  %p= link_to 'Add a new video', new_video_path

= partial 'layouts/right_half' do
  %dl
    - @videos.each do |video|
      %dt= link_to video.title, video
      %dd= "Presented by #{video.presenter} at #{video.source}"