.row
  %h1= link_to 'boston.rb', root_path
#boston_rb
  .row
    %p
      = link_to "<strong>#{Event.count}</strong> Events", events_path
      = link_to "<strong>#{User.count}</strong> Users", "#"
      = link_to "<strong>#{Project.count}</strong> Projects", projects_path
      = link_to "<strong>#{Job.count}</strong> Jobs", jobs_path
      = link_to "<strong>8</strong> Presentations", "#", :class => 'pending'

