#events
  .ribbon
    .row
      .crud
        %p= link_to 'New event', new_event_path
      %h2 Recurring Events
      - if @recurring_events.present?
        - @recurring_events.each do |event|
          .quarter>
            %p.date
              %span= event.date.to_s(:fancy_date)
              %span= event.date.to_s(:time)
            %h3= link_to h(event.title), event
            %p= event.cached_description_html
      - else
        %p None right now...

      - if Entry.count > 0
        .crud
          %p= link_to 'View all', events_path


#other_events.row
  %h3.center Special events
  %p.center
    = sentence_of @special_events do |special_event|
      = link_to special_event, special_event
      == (#{special_event.date.to_s(:short_date)})

#people
  .row
    %h2 Users
    .collage
      - @users.in_groups_of(24, false).each_with_index do |users, index|
        %div{collage_div_attributes(index)}
          = collage_of(users)

#twitter_blogs
  .row
    .half>
      %h3 Twitter
      %ul
        - @recent_tweets.each do |tweet|
          %li= link_to_tweet(tweet)
    .half>
      %h3 Blogs
      %ul
        - @recent_blogs.each do |blog|
          %li= link_to blog.title, blog.normalized_url

#projects
  .row
    %h2= link_to 'Open Source Projects', projects_path
    - if @featured_project
      .half>
        %h3= link_to @featured_project.name, project_path(@featured_project)
        %p= truncate(@featured_project.description, :length => 250)
    .half>
      %ul
        - link_to_each(@popular_projects).each do |link|
          %li= link
      %p.more= link_to 'View more...', projects_path

#apps.row
  %h3.center Apps
  %p.center
    = sentence_of(app_links)
  .crud
    %p= link_to 'New app', new_app_path

#jobs
  .row
    .crud
      %p= link_to 'New job', new_job_path
    %h2= link_to 'Jobs', jobs_path
    - if @featured_job
      .half
        %h3= link_to @featured_job.title, @featured_job
        %p= truncate_html(@featured_job.cached_description_html, :length => 250)
    .half>
      %ul
        - @recent_jobs.each do |job|
          %li= link_to job.title, job

      %p.more= link_to 'View more...', jobs_path

#companies.row
  %h3.center Companies
  %p.center
    = sentence_of link_to_each(@recent_companies)
  .crud
    %p= link_to 'New company', new_company_path

#presentations
  .row
    .crud
      %p= link_to 'New presentation', new_presentation_path
    %h2= link_to 'Presentations', presentations_path
    - if @featured_presentation
      .half>
        %h3= link_to @featured_presentation.title, presentation_path(@featured_presentation)
        - unless parse_presenter(@featured_presentation).nil? || parse_presenter(@featured_presentation).empty?
          %p== by #{parse_presenter(@featured_presentation)}
        - unless @featured_presentation.location.nil? || @featured_presentation.location.empty?
          %p= truncate_html(@featured_presentation.cached_description_html, :length => 250)
    .half>
      %ul
        - link_to_each(@recent_presentations).each do |link|
          %li= link
      %p.more= link_to 'View more...', presentations_path

= render :partial => '/shared/about'
