#events
  .ribbon
    .row
      .crud
        %p= link_to 'New event', new_event_path
      %h2 Recurring Events
      - @recurring_events.each do |event|
        .quarter>
          %h3= link_to event.title, event
          %p= event.description

#other_events.row
  %h3.center Special events
  %p.center
    = sentence_of event_links(@special_events)

#people
  .row
    %h2 Users
    .collage
      - @users.each do |user|
        = image_tag(user.gravatar_url)

#twitter_blogs
  .row
    .half>
      %h3 Twitter
      %ul
        - @recent_tweets.each do |tweet|
          %li= link_to_tweet(tweet)
    .half.pending>
      %h3 Blogs
      %ul
        %li= post_title_and_blog_name
        %li= post_title_and_blog_name
        %li= post_title_and_blog_name
        %li= post_title_and_blog_name
        %li= post_title_and_blog_name

#projects.pending
  .row
    %h2 Open Source Projects
    .half>
      %h3 Paperclip
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .half>
      %ul
        %li= project_link
        %li= project_link
        %li= project_link
        %li= project_link
        %li= project_link

#apps.row.pending
  %h3.center Apps
  %p.center
    = sentence_of(app_links)

#jobs
  .row
    .crud
      %p= link_to 'New job', new_job_path
    %h2 Jobs
    .half.pending>
      %h3 Rails developer, thoughtbot
      %p We are looking for someone with expert knowledge of Ruby on Rails to join our team of Ruby on Rails developers full-time in either our Boston, MA or New York City office. The ideal individual will have been using Ruby on Rails extensively (probably since before 1.0), have an excellent knowledge of Javascript, HTML, and CSS, and experience in TDD.
    .half>
      %ul
        - @recent_jobs.each do |job|
          %li= link_to job.title, job

#companies.row.pending
  %h3.center Companies
  %p.center
    = sentence_of(company_links)

#presentations.pending
  .row
    %h2 Presentations
    .half>
      %h3 Agile Design
      %p Dan Pickett talks about lorem ipsum dolor sit amet.
    .half>
      %ul
        - presentation_links.each do |each|
          %li= each

= render :partial => '/shared/about'
