%div
  = form.label :title
  %div= form.text_field :title

%div
  = form.label :location
  %div= form.text_field :location
  %p.instruct ex: 41 Winter Street, Boston, MA, 02018

%div
  = form.label :description
  %div= form.text_area :description
  %p.instruct
    == Format description using #{link_to 'Markdown', 'http://daringfireball.net/projects/markdown/syntax'}.

%div
  = form.label :date, 'Date and Time'
  %div= form.text_field :date, :value => @event.date.try(:to_s, :fancy_date_with_time_with_day)
  %p.instruct
    ie "9/15 7PM" or "tomorrow at 6:45pm" or "3rd tuesday this september at 7pm"
  #calendar

.checkbox_field
  = form.label :recurring
  = form.check_box :recurring
