%dl
  %dt Date
  %dd= form.datetime_select :date
  
  %dt Title
  %dd= form.text_field :title

  %dt Location
  %dd= form.text_field :location
  %dd.example
    ex: 41 Winter Street, Boston, MA, 02018

  %dt Description
  %dd
    ~ form.text_area :description
    %br/
    = link_to 'The description is Markdown-enabled', 'http://daringfireball.net/projects/markdown/syntax'

%p We're sorry to ask, but mind proving you are a human?
= recaptcha_tags