%div{ :id => "event_#{event.id}", :class => 'event' }
  %h2= "#{event.title} on #{event.date.to_s(:european)}"
  %dl
    %dt When
    %dd= event.date
    %dt Where
    %dd= event.location
    %dt What
    %dd= markdown event.description
  %p= link_to 'Edit', edit_event_path(event)
  
  #map