- content_for :javascripts do
  = event_map @next_event

#events
  .ribbon
    .row
      %h2 Events
      %p= link_to 'New event', new_event_path
      - unless @events.empty?
        - @events.each do |event|
          = link_to "#{event.title}: #{event.date.to_s(:long)}", event
          = event.location
      - else
        %p Nothing coming up! Check again later.
