- content_for :google_maps_js do
  = event_map @next_event

= partial 'layouts/left_half' do
  #next_event
    - if @next_event.nil?
      %h2 Next Event
      %p There are no upcoming events scheduled... yet.
    - else
      %h2= "Next event: #{@next_event.title}: #{@next_event.date.to_s(:european)}"
      = markdown @next_event.description
      #map

= partial 'layouts/right_half' do
  %h2 Upcoming Events
  %dl
    - @upcoming_events.each do |event|
      %dt= "#{event.title}: #{event.date.to_s(:european)}"
      %dd= link_to 'Edit', edit_event_path(event)
      / = partial '/events/show', :event => event