- content_for :google_maps_js do
  = event_map @event
  
= partial 'layouts/full' do
  %div.vevent
    %h2
      %a.url.summary{:href=>event_url(@event)}= @event.title

    = partial 'events/show_in_feed', :event => @event
  
    %p= link_to 'Edit', edit_event_path(@event)
  
    #map
