%div
  = form.label :name
  %div= form.text_field :name

%div
  = form.label :homepage_url
  %div= form.text_field :homepage_url

%div
  = form.label :description
  %div= form.text_area :description
  %p.instruct
    == Format description using #{link_to 'Markdown', 'http://daringfireball.net/projects/markdown/syntax'}.

