%div
  = form.label :name
  %div= form.text_field :name

%div
  = form.label :website_url, "Website URL"
  %div= form.text_field :website_url

%div
  = form.label :twitter
  %div= form.text_field :twitter
  %p.instruct Twitter name. ex: Croaky

