#show
  .ribbon
    .row
      .crud
        %p= link_to 'Edit', edit_company_path(@company)
      %h2= @company.name
      %ul.details
        - unless @company.twitter.blank?
          %li.clearfix
            .detail= link_to @company.twitter, "http://twitter.com/#{@company.twitter}"
            .label Twitter
        %li.clearfix.last
          .detail= link_to @company.website_url, @company.website_url
          .label URL
      - if @company.employees.present?
        %h3 Employees
        %ul.employees
          - @company.employees.each do |employee|
            %li= link_to employee.github, user_path(employee)

