<section id='<%= blog.id -%>' class='blog'>
  <hgroup>
    <h2><%= blog.author %></h2>
  </hgroup>
  <p><span>Title:</span> <%= blog.title %></p>
  <p><span>Twitter Username:</span> <%= blog.twitter_username %></p>
  <p><span>URL:</span> <%= link_to blog.url %></p>
  <p><span>Feed URL:</span> <%= link_to blog.feed_url %></p>
  <ul class='links'>
      <li><%= link_to 'Edit', edit_admin_blog_path(blog) %></li>
      <li><%= link_to 'Delete', admin_blog_path(blog), :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
</section>
