<h1>Listing places</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Description</th>
  </tr>

<% for place in @places %>
  <tr>
    <td><%=h place.name %></td>
    <td><%=h place.address %></td>
    <td><%=h place.description %></td>
    <td><%= link_to 'Show', place %></td>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New place', new_place_path %>
