<p>
  <b>Name:</b>
  <%=h @place.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @place.address %>
</p>

<p>
  <b>Description:</b>
  <%=h @place.description %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
