!!! Strict
%html
  %head
    %title Boston.rb
    = stylesheet_link_tag 'screen', 'under_construction', :media => 'screen'
    = stylesheet_link_tag 'custom-theme/jquery-ui-1.7.2.custom.css', :media => 'screen'
  %body
    .grid_960.middle
      = render :partial => '/shared/header'
      = partial 'shared/flashes'
      = yield
      = partial 'shared/footer'
    = render :partial => '/shared/javascripts'
