!!! Transitional
%html
  %head
    %title Boston.rb
    = stylesheet_link_tag 'screen', :media => 'screen'
    = auto_discovery_link_tag :rss, '/jobs.rss', :title => 'Jobs feed'
  %body
    .grid_960.middle
      = render :partial => 'layouts/header'
      = partial 'layouts/flashes'
      = yield
      = render :partial => '/layouts/about'
    = yield :javascripts
