!!! Strict
%html
  %head
    %title Boston.rb
    = stylesheet_link_tag 'screen', 'under_construction', :media => 'screen'
    = auto_discovery_link_tag :rss, '/jobs.rss', :title => 'Jobs feed'
  %body
    .grid_960.middle
      = render :partial => '/shared/header'
      = partial 'shared/flashes'
      = yield
    = render :partial => '/shared/javascripts'
