<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Boston Ruby is a local community of Rubyists and enthusiasts of open source software.">
  <meta name="viewport" content = "initial-scale = 0.35,user-scalable = yes">
  <title>Boston Ruby Group</title>
  <link rel="icon" href="/favicon.ico">
  <link href='http://font.thoughtbot.com/prociono.css' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'reset', 'screen', :media => 'all' %>
  <%= stylesheet_link_tag 'reset', 'mobile', :media => 'only screen and (max-device-width: 480px)' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div id="container">
    <h1><a href="/">Boston<br /> Ruby Group</a></h1>
    <%= render :partial => 'shared/flashes' -%>
    <%= yield %>
    <%= render :partial => 'shared/javascript' %>
  </div>
</body>
</html>
