<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content='BostonRB ~ The Boston Ruby Group is a local meetup of Rubyists that focus on Ruby and Ruby on Rails. We host project nights and meetings every month, all skill levels are welcome.' name='description'>
    <meta content='ruby on rails, rails, ruby, ruby on rails training, ruby development, ruby on rails development, software development, web, web development, startups, enterprise, Boston, MA, Massachusetts' name='keywords'>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>The Boston Ruby Group - <%= page_title %></title>
    <link rel="icon" href="/favicon.ico">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= csrf_meta_tag %>
    <%= render :partial => 'shared/ga' %>
  </head>
  <body class="<%= body_class %>">
    <% if flash[:notice] %>
      <p class="flash-notice"><%= flash[:notice] %></p>
    <% end %>

    <header>
      <%= next_event %>
      <h1>
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', :alt => 'logo' %>
          Boston Ruby Group
        <% end %>
      </h1>
    </header>
    <%= render :partial => 'shared/nav' %>
    <section id="container">
      <%= render :partial => 'shared/flashes' -%>
      <h5><%= t('.call-to-action', default: "Be sure to follow <a href='http://twitter.com/bostonrb' target='_blank'>@bostonrb</a> for everything Ruby in Boston.") %></h5>

      <%= yield %>

      <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 1000219892;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1000219892/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    </section>
  </body>
</html>
