!!! Strict
%html
  %head
    %title boston.rb
    = stylesheet_link_tag 'screen', :media => 'screen'
    = auto_discovery_link_tag :rss, '/jobs.rss', :title => 'Jobs feed'
  %body
    .grid_960.middle
      .row
        %h1= link_to 'boston.rb', root_path
      #boston_rb
        .row
          %p
            = link_to "<strong>4</strong> Events", events_path
            = link_to "<strong>110</strong> Users", "#"
            = link_to "<strong>12,000</strong> Projects", projects_path
            = link_to "<strong>23</strong> Jobs", jobs_path
            = link_to "<strong>25</strong> Companies", "#"
      = partial 'layouts/flashes'
      #events
        #events_i
          .row
            %h2 Recurring Events
            #hackfest.quarter>
              %h3 Hackfest
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            #meeting.quarter>
              %h3 Meeting
              %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            #pub_night.quarter>
              %h3 Pub Night
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            #theatre.quarter>
              %h3 Theatre
              %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      #other_events.row
        %h3.center Special events
        %p.center
          = sentence_of_linkable_events
      #people
        .row
          %h2 Users
          .collage
      #twitter_blogs
        .row
          .half>
            %h3 Twitter
            %ul
              %li= user_name_and_tweet
              %li= user_name_and_tweet
              %li= user_name_and_tweet
              %li= user_name_and_tweet
              %li= user_name_and_tweet
          .half>
            %h3 Blogs
            %ul
              %li= post_title_and_blog_name
              %li= post_title_and_blog_name
              %li= post_title_and_blog_name
              %li= post_title_and_blog_name
              %li= post_title_and_blog_name
      #projects
        .row
          %h2 Open Source Projects
          .half>
            %h3 Paperclip
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .half>
            %ul
              %li= project_name_and_link
              %li= project_name_and_link
              %li= project_name_and_link
              %li= project_name_and_link
              %li= project_name_and_link
      #apps.row
        %h3.center Apps written by Boston Rubyists
        %p.center
          = sentence_of_linkable_apps
      #jobs
        .row
          %h2 Jobs
          .half>
            %h3 Rails developer, thoughtbot
            %p We are looking for someone with expert knowledge of Ruby on Rails to join our team of Ruby on Rails developers full-time in either our Boston, MA or New York City office. The ideal individual will have been using Ruby on Rails extensively (probably since before 1.0), have an excellent knowledge of Javascript, HTML, and CSS, and experience in TDD.
          .half>
            %ul
              %li= job_title_and_company_name
      #places.row
        %h3.center Places to hack
        %p.center
          = sentence_of_linkable_places
      #companies
        .row
          %h2 Companies
          .collage
      #authentication.row
        %p.center= signed_out_links

